.multiselect__tags {
  display: block;
  width: 100%;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  background-clip: padding-box;
  border: $input-border-width solid;
  @include themes($form-theme-map, $create: parent) {
    color: themes-get-value("input-color");
    background-color: themes-get-value("input-bg");
    border-color: themes-get-value("input-border-color");
  }
}

.multiselect__tag {
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  @include font-size($input-font-size-sm);
}

// TODO 
// Clean / Remove unused
// only add override from the default and sed bootstrap / coreui variables from node_modules/@coreui/coreui/scss/variables (like above)


// Here you can add other styles
.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.multiselect__content span {
  white-space: normal;
  word-break: break-all;
  line-height: normal;
}
.table-responsive-md {
  overflow-y: auto;
}
.table .thead-light th {
  font-size: 13px;
  vertical-align: middle;
}
@media (min-width: 992px) { 
  .c-header.c-header-with-subheader{
    max-height: 56px;
  }
}
@media (max-width: 426px) { 
  .c-header-brand {
    height: 20px;
    margin-top: 10px;
  }
  .c-header.c-header-with-subheader {
    height: 140px;
  }
  .c-header.c-header-with-subheader .c-header-nav {
    height: 38px;
    margin-right: 15px !important;
  }
  .vue-avatar--wrapper {
    width: 30px !important;
    height: 29px !important;
    font-size: 13px !important;
  }
  .c-subheader {
    flex-direction: column;
    height: auto;
    padding-bottom: 13px;
  }
  .c-subheader .breadcrumb {
    margin-bottom: 0;
  }
  .c-subheader .col-4, .c-subheader .col-8 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
  .c-header-fixed.c-header-with-subheader ~ .c-body{
    padding-top: 140px;
  }
  select#perPageSelect {
    margin-bottom: 10px;
  }
}
.c-header-fixed.c-header-with-subheader ~ .c-body{
  overflow: hidden;
}
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.normal-flag.flag{
  margin: -25px !important;
  transform: scale(.3) !important;
  -ms-transform: scale(.3) !important;
  -webkit-transform: scale(.3) !important;
  -moz-transform: scale(.3) !important;
}
.multiselect__single{
  margin-bottom: 6px;
  margin-top: 2px;
  font-size: 13px;

}
.custom__tag {
  display: inline-block;
  padding: 3px 4px 3px 4px;
  border: 1px solid #d8dbe0;
  background: #ffffff;
  margin-right: 8px;
  margin-bottom: 7px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1px;
}


/** FIlter Sec  Design  **/
.filter_Sec {
  margin-bottom: 15px;
}
.filter_Sec .custom-checkbox {
  margin-top: 5px;
}

.pr-0 select.custom-select, .pr-0 .multiselect__tags {
  border-radius: 0.25rem 0 0 0.25rem;
}
.pl-0 select.custom-select, .pl-0 .multiselect__tags {
  border-radius: 0 0.25rem 0.25rem 0;
}
.filter_Sec .multiselect__element .multiselect__option {
  padding-left: 40px;
}
.filter_Sec .multiselect__element .multiselect__option.multiselect__option--selected:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url('../images/check_mark_icn.png');
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: left center;
}
.filter_Sec .multiselect__strong {
  font-size: 10px;
  margin-top: 2px;
}
.filter_Sec .multiselect__option--selected:after, .filter_Sec .multiselect__option--highlight:after{
  display: none;
}
.filter_Sec .multiselect__option {
  padding: 8px;
  font-size: 12px;
  min-height: auto;
}
.filter_Sec .custom__tag {
  font-size: 11px;
}
.filter_Sec .custom__tag .custom__remove {
  font-size: 12px;
  margin-top: 3px;
  margin-left: 5px;
}
.multiselect__clear {
  position: absolute;
  right: 30px;
  height: 40px;
  width: 20px;
  display: block;
  cursor: pointer;
  z-index: 2;
}
.multiselect__clear:after{
  content: "×";
  display: block;
  position: absolute;
  font-size: 21px;
  color: #aaa;
  top: 2px;
  right: 0;
  font-weight: 600;
  line-height: 32px;
}

.multiselect__option--disabled {
  background: white!important;
  cursor: text;
  pointer-events: none;
}

