@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin transform($property) {
  -webkit-transform: $property; 
  -ms-transform: $property;
  transform: $property;
}

body {
  overflow-x: hidden;
}

.page-enter-active, .page-leave-active {
  @include transition(opacity 0.2s ease);
}
.page-enter, .page-leave-to {
  @include Opacity(0);
}
.table-responsive-md {
  overflow-y: auto;
}
.table .thead-light th {
  font-size: 13px;
  vertical-align: middle;
}
.batch-deletion .modal-footer {
  justify-content: center;
}

@media (min-width: 992px) { 
  .c-header.c-header-with-subheader{
    max-height: 56px;
  }
}
@media (max-width: 426px) { 
  .c-header-brand {
    height: 20px;
    margin-top: 10px;
  }
  .c-header.c-header-with-subheader {
    height: 140px;
  }
  .c-header.c-header-with-subheader .c-header-nav {
    height: 38px;
    margin-right: 15px !important ;
  }
  .vue-avatar--wrapper {
    width: 30px !important;
    height: 29px !important;
    font-size: $font-size-base !important;
  }
  .c-subheader {
    flex-direction: column;
    height: auto;
    padding: 13px 0 0 0;
  }
  .c-subheader .breadcrumb {
    margin-bottom: 0px;
  }
  .c-subheader .col-4, .c-subheader .col-8 {
    width: 100%;
    max-width: 100%;
    flex: 100%;
  }
    
  select#perPageSelect {
    margin-bottom: 10px;
  }
}
.c-header-fixed.c-header-with-subheader ~ .c-body{
  overflow-x: hidden;
}
.card-header > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

.c-sidebar-brand-full {
  width: 150px;
}

.c-sidebar-brand-minimized {
  width: 44px;
}

.normal-flag.flag{
  margin: -25px !important;
  @include transform(scale(0.3 !important));
}

/** FIlter Sec  Design  **/
.filter_Sec .badge {
  margin-right: 5px;
}

/** Pager css class **/
.paginationRow {
  display: inline-block;
  width: 100%;
  text-align: right;
}
select#page-size {
  display: inline;
  width: auto;
  margin: 0px 5px;
}
ul.pagination.b-pagination {
  width: auto;
  float: right;
}
.export-email .modal-footer{ 
  display: none;
}
.line-top {
  border-top: 1px solid #d8dbe0;
  margin-top: 15px;
  padding-bottom: 20px; 
}

.copy-btn {
  margin: 22px 0 0 0;
}

.c-footer.c-footer-fixed {
  z-index: 1020;
}